<component name="libraryTable">
  <library name="Spring MVC" type="spring-mvc">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../jar repository/spring-framework-5.0.7.RELEASE-dist/spring-framework-5.0.7.RELEASE-dist.zip!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>